@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
    background-image: url("../public/images/backGroundImage.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }


